name: Deploy to Website

on:
  push:
      branches:
        - main

jobs:
  deploy:
    runs-on: ubuntu-latest

  
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20' # or your preferred version
          cache: 'npm'
      
      - name: Install dependencies
        run: npm ci

      - name: Build Vite project
        env:
          VITE_GOOGLE_MAPS_API_KEY: ${{ secrets.VITE_GOOGLE_MAPS_API_KEY }}
        run: npm run build

      - name: Set up SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H boheemia.ee >> ~/.ssh/known_hosts

      - name: Deploy to server
        run: |
          # Create deployment directory if it doesn't exist
          ssh virt65914@boheemia.ee "rm -rf domeenid/www.boheemia.ee/qibla/*"
          
          # Transfer built files and server files
          rsync -avz dist/ virt65914@boheemia.ee:domeenid/www.boheemia.ee/qibla
          
